@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    height: 400vh;
    scroll-behavior: smooth;
    color: #333;
}
    /* Header */

header{
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: orange;
    display: flex;
    align-items: center;
}

.navbar{
    width: 90%;
    margin: 0 auto;
}

.nav-links{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links li{
    transition: 0.3s;
}

.nav-links li:hover{
    color: black;
    transform: scale(1.2);
}

.nav-links a:hover{
    color: #333;
}

.introSection{
    width: 80%;
    height: 100%;
    margin: 3rem auto;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.faceImage{
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px){

    /* Header */

    header{
        background-color: lightblue;
    }

    .nav-links{
        gap: 5rem;
    }

    .nav-links a{
        font-size: 24px;
    }

    .nav-links li:nth-child(1){
        margin-right: auto;
    }
}

@media (min-width: 1024px){
    header{
        background-color: lightgreen;
    }

    .nav-links a{
        font-size: 32px;
    }

    .introSection{
        flex-direction: row;
        font-size: 32px;
    }
}